kestra_flows/kaggle_download_gcs_upload.yaml
id: kaggle_download_gcs_upload
namespace: project


tasks:
  - id: download
    type: io.kestra.plugin.core.http.Download
    uri: https://www.kaggle.com/api/v1/datasets/download/davidcariboo/player-scores

  - id: unzip
    type: io.kestra.plugin.compress.ArchiveDecompress
    from: "{{ outputs.download.uri }}"
    algorithm: ZIP
  
  - id: upload_to_gcs
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.unzip.files | keys }}"
    tasks:
      - id: upload
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{ outputs.unzip.files[taskrun.value] }}"
        to: "gs://{{kv('GCP_BUCKET_NAME')}}/raw/{{ taskrun.value }}"



pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"  